@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

.App {
  margin: 0 auto;
  color: white;
  display: flex;
  width: 100vw;
  justify-content: center;
}
